::selection {
  background: indigo;
  color: plum;
}

:any-link {
  box-shadow: 0 3ch 3ch 0 plum, 0 -3ch 3ch 0 plum;
  background-color: #c6c6c6;
  color: #313;
}

:any-link:hover {
  background: hotpink; 
}

:focus {
  filter: hue-rotate(-36deg);
  outline: thick groove;
}

:active {
  filter: hue-rotate(-18deg);
  outline-style: dotted;
}

html {
  background: plum;
  background-image: radial-gradient(darkorange, orange);
  color: indigo;
}

nav {
  background-image: conic-gradient(deepskyblue, orange, hotpink, deepskyblue);
}
